{% extends "base.html" %}

{% block title %}Контакти | Запишете час за СКЕНАР терапия в Бургас{% endblock %}
{% block meta_description %}
    <meta name="description" content="Свържете се с мен за СКЕНАР терапия в Бургас – ж.к. Изгрев, бл. 92. Работя с предварително записване на тел: +359 886 060 844. Запишете час още днес.">
{% endblock %}

{% block content %}
            <section id="location">
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5881.173452244395!2d27.44766630869141!3d42.521589750264916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a693834f602c9d%3A0xc2c6f2a342d35254!2z0JzQtdC00LjRhtC40L3RgdC60Lgg0KXQvtC70LjRgdGC0LjRh9C10L0g0KbQtdC90YLRitGA!5e0!3m2!1sbg!2sbg!4v1744644095609!5m2!1sbg!2sbg" 
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy">
                    </iframe>
                </div>
            
            </section>
       
            <div class="global_info">
                <section class="more-info">
                    <h1>Информация и записване</h1>
                    
                    <div class="owner">
                        <p>Магдалена Петрова: СКЕНАР-терапевт</p>
                    </div>
                    
                    <div class="visiting-hours">
                        <p><strong>Работно време</strong></p>
                        <p>Всеки ден с предварително записан час на телeфон: +359 886 060 844</p>
                    </div>
                    
                    <div class="locality">
                        <p>Център по холистична медицина</p>
                        <p>гр. Бургас</p>
                        <p>ж.к. Изгрев, 92, 8008</p>
                    </div>
                    
                </section>
            </div>

  
{% endblock %}
